<% provide(:breadcrumb, "Главная / Заявка на звонок отправлена") %>
<div class="container">
  <h1>Спасибо Ваша заявка на звонок отправлена!</h1>
  <div>Уважаемый клиент, Ваша заявка на звонок отправлена и менеджер свяжется с вами в ближайшее время!</div>
</div>
  