<% provide(:breadcrumb, "Главная / Заказ размещен") %>
<div class="container">
  <h1>Спасибо Ваш заказ отправлен!</h1>
  <div>Уважаемый клиент, Ваш заказ отправлен и менеджер свяжется с вами в ближайшее время!</div>
</div>
  