<% provide(:breadcrumb, "Главная / О компании") %>
<div class="about1 bgk_container">
	<div class="row">
		<div class="col-md-3">
			<div class="about1-img">
				<%= image_tag 'alieva2.jpg', class: 'img-responsive' %>
			</div>
		</div>
		<div class="col-md-9">
			<div class="about1-text">
				<div class="about1-text-title">Мы рады перспективе сотрудничества с Вашей компанией!</div>
				<div class="about1-text-info">Повышение качества дорог России требует применения в дорожном строительстве материалов с высокими эксплутационными характеристиками. Мы предлагаем Вам современные решения армирования асфальтобетонных покрытий, строительства подъездных путей, временных дорог, площадок под высокие нагрузки, противоэрозийные системы, а так же экологичный альтернативный вариант устройства парковочных площадок.</div>
				<div class="about1-text-cont">НАШИ КОНТАКТЫ:</div>
				<div class="about1-text-tel">+7(812) 648-50-95 <br/>info@baltgeokom.ru</div>
				<div class="about1-text-signature">Успеха и процветания Вашей компании!</div>
				<div class="about1-text-signature2">Алиева Оксана Юрьевна  генеральный директор ООО «БГК»</div>
			</div>
		</div>
	</div>
	<div class="border"></div>
</div>
<div class="about2">
	Наши приемущества
</div>
<div class="about3">
	Собственное производитсво
</div>
<div class="about4">
	Сертифицированная продукция
</div>
<div class="about5">
	Квалифицированные специалисты
</div>
<div class="about6">
	Условия сотрудничества
</div>




