<% provide(:breadcrumb, "Главная / Разместить заказ") %>
<div class="new_order_container">
	<div class="new_order1">
		<div class="row">
			<div class="col-md-12">
				<div class="info">Для размещения заказа свяжитесь с менеджером по телефону: (812) 648-50-95.</div>
				<div class="info">Будем рады Вашему звонку ежедневно с 10 до 18.30.</div>
				<div class="info">Если Вы хотите разместить заказ по проектированию, производству и поставке геотекстиля, георешетки, геосетки, геоматов, габионов и прочей нашей продукции прямо сейчас и/или у Вас имеется Техническое задание или прочая документация, необходимая для того, чтобы наши специалисты подготовили для Вас техническое и коммерческое предложение, то просим отправить в наш адрес соответствующий запрос.</div>
			</div>
		</div>
		<div class="zakaz_title">РАЗМЕСТИТЬ ЗАКАЗ ОНЛАЙН</div>
	</div>
	<div class="new_order2">
		<div>ТУТ БУДУТ ФОРМА ЗАКАЗА</div>
		<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ligula nisl, lobortis et diam a, elementum dapibus nisi. Curabitur sed est libero. Quisque lorem ante, tincidunt vel fringilla a, laoreet vestibulum enim. Maecenas et sollicitudin justo, et blandit nunc. Quisque in turpis tortor. Ut blandit lacus in dui efficitur, sed varius dui venenatis. Nullam cursus leo finibus justo maximus fermentum. In non libero at erat varius sodales. Morbi accumsan dignissim tortor ultricies dapibus. Vivamus a ultricies enim. Nam vel eleifend nisi, quis scelerisque lorem. Nullam sed odio viverra lacus maximus placerat. Proin id eros libero. Vivamus ante nibh, faucibus quis sollicitudin in, tincidunt accumsan enim. Ut sit amet lorem hendrerit, fringilla libero in, commodo leo. Nam commodo odio tortor, at fringilla nulla volutpat et. Etiam eu mauris id turpis tincidunt ornare. Proin tincidunt quam mauris, fermentum ultrices nunc elementum vitae. Morbi laoreet semper sapien, ac consectetur leo. Etiam tempus lobortis viverra. Nunc lobortis suscipit feugiat. In faucibus nibh vitae scelerisque vehicula. Mauris malesuada mauris vel sapien tincidunt aliquam. Fusce ipsum est, cursus dapibus lorem ut, efficitur tristique dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ligula nisl, lobortis et diam a, elementum dapibus nisi. Curabitur sed est libero. Quisque lorem ante, tincidunt vel fringilla a, laoreet vestibulum enim. Maecenas et sollicitudin justo, et blandit nunc. Quisque in turpis tortor. Ut blandit lacus in dui efficitur, sed varius dui venenatis. Nullam cursus leo finibus justo maximus fermentum. In non libero at erat varius sodales. Morbi accumsan dignissim tortor ultricies dapibus. Vivamus a ultricies enim. Nam vel eleifend nisi, quis scelerisque lorem. Nullam sed odio viverra lacus maximus placerat. Proin id eros libero. Vivamus ante nibh, faucibus quis sollicitudin in, tincidunt accumsan enim. Ut sit amet lorem hendrerit, fringilla libero in, commodo leo. Nam commodo odio tortor, at fringilla nulla volutpat et. Etiam eu mauris id turpis tincidunt ornare. Proin tincidunt quam mauris, fermentum ultrices nunc elementum vitae. Morbi laoreet semper sapien, ac consectetur leo. Etiam tempus lobortis viverra. Nunc lobortis suscipit feugiat. In faucibus nibh vitae scelerisque vehicula. Mauris malesuada mauris vel sapien tincidunt aliquam. Fusce ipsum est, cursus dapibus lorem ut, efficitur tristique dolor.</div>
	</div>
	<div class="new_order3">
		<div class="row">
			<div class="col-md-12">
				<div class="info">Мы гарантируем конфиденциальность данных. Остатки на складах и сроки поставки - уточняйте у менеджера.</div>
			</div>
		</div>
	</div>
</div>