<div class="homepage1">
	<%= image_tag("vitrina.png", class: "img-responsive", alt: "товары") %>
</div>
<div class="homepage2">
	<h2>УСЛОВИЯ СОТРУДНИЧЕСТВА</h2>
	<div class="row">
		<div class="col-md-4">
			<div class="homepage2-img">
				<%= image_tag("pic1.png", class: "img-responsive", alt: "проектировщикам") %>
			</div>
		</div>
		<div class="col-md-4">
			<div class="homepage2-img">
				<%= image_tag("pic2a.png", class: "img-responsive", alt: "строителям") %>
			</div>
		</div>	
		<div class="col-md-4">
			<div class="homepage2-img">
				<%= image_tag("pic3.png", class: "img-responsive", alt: "покупателям") %>
			</div>
		</div>	
	</div>
</div>
