<% provide(:title, @page.title) %>
<% provide(:keywords, @page.keywords)%>
<% provide(:description, @page.description) %>
<div class="bgk_container">
  <div class="row">
    <div class="col-md-12">
    	<% if authenticated? %>
        <div class="form-group">
          <a class="btn btn-default" href="/admin">В админку</a>
          <%= link_to "Список страниц", pages_path, class: "btn btn-default" %>
    	    <%= link_to "Редактировать", edit_page_path(@page), class: "btn btn-primary" %>
        </div>
    	<% end %>
    	<h1><%= @page.h1 %></h1>
  	<%= raw(@page.content) %>
    </div>
  </div>
</div>