<% provide(:breadcrumb, "Главная / Заявка на звонок отправлена") %>
<div class="container">
  <h1 class="bgk_h1">Спасибо Ваше сообщение отправленно!</h1>
  <div>Уважаемый клиент, Ваше сообщение отправленно и менеджер свяжется с вами в ближайшее время.</div>
</div>
  