<% if !@porder_item.nil? && @porder_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @porder_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @porder_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <% @porder_items.each do |porder_item| %>
    <%= render 'carts/cart_row', product: porder_item.product, porder_item: porder_item %>
  <% end %>
<% end %>