<% provide(:breadcrumb, "Главная / Страница заказа") %>
<div class="bgk_container cart">
	<h1 class="bgk_h1">Страница заказа</h1>
	<div class="sub_title">Ваш заказ</div>
	<div class="shopping-cart">
	  <%= render "shopping_cart" %>
	</div>
</div>
