<div class="nested-fields row">
  <div class="col-md-1 field">
    <%= image_tag f.object.product.productimg.url, class: "img-responsive" %>
  </div>
  <div class="col-md-7 title field">
    <%= f.object.product.title %>
  </div>
  <div class="col-md-2 field">
    <%= f.input :quantity, label: "Площадь, м2" %>
  </div>
  <div class="col-md-2 remove field">
    <%= link_to_remove_association "Удалить", f, class: "btn btn-default" %>
  </div>
</div>