<div class="nested-fields row">
  <div class="col-md-2">
    картинка
  </div>
  <div class="col-md-2">
    название
  </div>
  <div class="col-md-2">
    количество
  </div>
  <div class="col-lg-2">
    <%= f.input :details %>
  </div>
  <div class="col-lg-2">
    <%= f.input :quantity %>
  </div>
  <div class="col-lg-2">
    <%= link_to_remove_association "Удалить", f, class: "btn btn-warning" %>
  </div>
</div>