<div class="row logo-block">
  <div class="col-md-4">
      <a href="/"><%= image_tag("logo.png", alt: "Лого БалтГеоКом", class: "img-responsive") %></a>
  </div>
  <div class="col-md-4 logo-block-text">
      <span>Поставки геосинтеческих материалов по всей России</span>
  </div>
  <div class="col-md-4 logo-block-phone">
    <div class="tel">
      СПБ  (812) 648 50 95
      <br/>
      МСК (495) 555 55 55
    </div>
    <div class="hot-line">
      Горячая линия
      <br/>
      8 (800) 500 00 00 
    </div>
    <div class="work-time">
      Время работы с 9.00 до 17.30 по московскому времени
  </div>
  </div>
</div>