<div class="row logo-block">
  <div class="col-md-4">
      <a href="/"><%= image_tag("logo.png", alt: "Лого БалтГеоКом", class: "img-responsive") %></a>
  </div>
  <div class="col-md-4 logo-block-text">
      <span>Поставки геосинтеческих материалов по всей России</span>
  </div>
  <div class="col-md-4">
      <span>asfasd sadfsadf</span>
  </div>
</div>