<div class="row logo-block">
  <div class="col-md-4">
      <a href="/"><%= image_tag("logo.png", alt: "Лого БалтГеоКом", class: "img-responsive") %></a>
  </div>
  <div class="col-md-4 logo-block-text">
      <span>Поставки геосинтеческих материалов <br/>по всей России</span>
  </div>
  <div class="col-md-4 logo-block-phone">
    <div class="telefonContainer">
      <div class="telefonContainer_pic">
        <%= image_tag("telefon7.png", alt: "Позвонить") %>
      </div>
      <div class="telefonContainer_text">
        <div class="telefonContainer_spb">
          СПБ (812) 648 5095
        </div>
        <div class="telefonContainer_msk">
          Москва и Регионы<br/>
          (911) 999 0700
        </div>
      </div>
    </div>
    <div class="work-time">
      Время работы с 9.00 до 17.30 по московскому времени
    </div>
  </div>
</div>