<nav class="navbar navbar-default nav-second">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <div class="hidden-xs">
        <div class="nav-wrapper">
          <div class="nav-wrapper-inner">
            <ul id="menu2" class="nav navbar-nav">
              <%= render 'layouts/navigation_second_items' %>
            </ul>
          </div>
        </div>
        <div class="vash-zakaz">
          <div class="vash-inner">
            <a href="#">ВАШ ЗАКАЗ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>