<nav class="navbar navbar-default nav-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <div class="hidden-xs">
        <div class="nav-wrapper">
          <div class="nav-wrapper-inner">
            <ul class="nav navbar-nav">
              <%= render 'layouts/navigation_top_items' %>
            </ul>
          </div>
        </div>
        <div class="download-file">
          <%= link_to 'КАТАЛОГ ПРОДУКЦИИ', '#', class: "nav navbar-nav" %>
        </div>
      </div>
      <div class="visible-xs-block">
        <ul class="nav navbar-nav">
          <%= render 'layouts/navigation_top_items' %>
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>