<nav class="navbar navbar-default old-nav-bar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="hidden-xs">
        <ul id="nav-desktop" class="nav navbar-nav">
          <%= render 'layouts/nav_items' %>
          <li id="razmestit-zakaz"><a href="/zakaz">РАЗМЕСТИТЬ ЗАКАЗ</a></li>
        </ul>
      </div>
      <div class="visible-xs-block">
        <ul class="nav navbar-nav">
          <%= render 'layouts/nav_items' %>
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>